<template name="rutbe">
  {{#if $or ($not this) ($and ($gte this 0) ($lt this 50))}}
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
  {{/if}}
  {{#if $and ($gte this 50) ($lt this 70)}}
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
  {{/if}}
  {{#if $and ($gte this 70) ($lt this 74)}}
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
  {{/if}}
  {{#if $and ($gte this 74) ($lt this 78)}}
    <img src="/assets/ana-ekran/rutbe-ay.png">
  {{/if}}
  {{#if $and ($gte this 78) ($lt this 82)}}
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
  {{/if}}
  {{#if $and ($gte this 82) ($lt this 86)}}
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
  {{/if}}
  {{#if $and ($gte this 86) ($lt this 90)}}
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-ay.png">
  {{/if}}
  {{#if $and ($gte this 90) ($lt this 95)}}
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-yildiz.png">
  {{/if}}
  {{#if $and ($gte this 95) ($lte this 100)}}
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-ay.png">
    <img src="/assets/ana-ekran/rutbe-ay.png">
  {{/if}}
</template>
