<template name="yardimEkrani">
  {{#if ctx}}
    <div class="cover">
      <div class="yardimEkrani">
        {{#if $eq ctx 'login'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-login.jpg" alt="">
        {{/if}}
        {{#if $eq ctx 'resetPassword'}}
          <p>Mitolojix oyunu için kendine bir şifre belirle ve iki kere yazarak tamam düğmesine tıkla. Merak etme... şifreni bilmiyorsan oyun giriş ekranında "şifremi bilmiyorum"a tıklayarak yeni bir şifre tanımlayabilirsin.</p>
        {{/if}}
        {{#if $eq ctx 'anaEkran'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-anaEkran.jpg">
        {{/if}}
        {{#if $eq ctx 'ozTasi'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-ozTasi.jpg">
        {{/if}}
        {{#if $eq ctx 'yazitlar'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-yazitlar.jpg">
        {{/if}}
        {{#if $eq ctx 'boyTasi'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-boyTasi.jpg">
        {{/if}}
        {{#if $eq ctx 'muhurTasi'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-muhurTasi.jpg">
        {{/if}}
        {{#if $eq ctx 'muhurBilgi'}}
          <img src="/assets/yardim-ekranlari/yardimEkrani-muhurBilgi.jpg">
        {{/if}}
      </div>
    </div>
  {{/if}}
</template>
